{% extends 'tramites/base.html' %}
{% block titulo %}{% if doc %}Editar{% else %}Nueva{% endif %} Documento{% endblock %}
{% block nav_alumnos %}active{% endblock %}
{% block topbar_titulo %}{% if doc %}Editar{% else %}Nueva{% endif %} Documento{% endblock %}
{% block topbar_acciones %}
    <a href="{% url 'alumno_detalle' alumno.dni %}" class="btn btn-sm">← Volver</a>
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">{% if doc %}Editar{% else %}Nueva{% endif %} Documento</div>
    <div class="card-body">
        <form method="post" class="form-grid">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group{% if field.field.widget.input_type == 'textarea' %} full{% endif %}">
                <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                <div class="field-errors">{{ field.errors }}</div>
                {% endif %}
            </div>
            {% endfor %}
            <div class="form-group full">
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
